
body {
    background-color: rgb(136, 121, 38);
}


.header {
    margin:0;
    float: left;
    overflow: hidden;
    list-style-type: none;
    background-color: rgb(54, 50, 146);
    width:100% ;
    height:50px ;

}

.header a {
    color: white;
    padding: 30px;
}

.CartImg {
  height: 200px;
  width: 200px;
}

.header a:hover{
    background-color: #333;
    color: white;
}

.NavigSpan{
  color: white;
  padding: 30px;
}

.NavigSpan:hover {
  background-color: #333;
}


.header li {
    float: left;
    padding: 10px;
}


.contentBar {
    background-color: rgb(148 132 30);
    border:solid;
    height: auto;
    margin-top: 10px;
     overflow: hidden;
}


.contentDiv{
    height: 100%;
    width: 20%;

    float: left;

}

.BookPageP {
    text-align: center;
    font-style: italic;
}



.BookImage {
    height: 100px;
    width: 100px;

}

.EmptyImagePlace {
  margin-left: auto;
  margin-right: auto;
  width:300px;
  height:200px;
  background-color:#646262;
}


.BookImageDetai {
    display: block;
    margin-left: 500px;
    margin-right: 500px;
}



.CreateBookUrl {
  float: right;
  margin-top:15px;
}




.slugButton {
  float: right;
  /* background-color: red; */
  padding: 10px;
  height: 100%;
  width:40%;
}

.slugButton a{

}
